<div class="container mt-3">
  <div class="card fixed-card shadow-sm border-0 mb-3">
    <div class="card-header d-flex justify-content-between align-items-center bg-primary text-white">
      <h5 class="mb-0">📝 Add To Do</h5>
      <a href="/to-do"  class="btn btn-sm btn-outline-light">To Do List</a>
    </div>

    <div class="card-body">
      <!-- Task Form -->
      <form id="task-form" class="p-3">
        <div class="row mb-3">
          <div class="col-md-4">
            <div class="form-group">
            <label for="title" class="form-label fw-semibold">Title</label>
            <input type="text" id="title" class="form-control" placeholder="Enter task title" required />
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
            <label for="description" class="form-label fw-semibold">Description</label>
            <textarea id="description" class="form-control" placeholder="Optional description" rows="1"></textarea>
            </div>
          </div>

          <div class="col-md-2">
            <div class="form-group">
            <label for="priority" class="form-label fw-semibold">Priority</label>
            <select id="priority" class="form-control" required>
              <option value="Low">Low</option>
              <option value="Medium" selected>Medium</option>
              <option value="High">High</option>
            </select>
            </div>
          </div>

          <div class="col-md-2">
            <div class="form-group">
            <label for="dueDate" class="form-label fw-semibold">Due Date</label>
            <input type="date" id="dueDate" class="form-control" required>
            </div>
          </div>

          
        </div>
        <div class="row">
          <div class="col-md-2">
            <button type="submit" class="btn btn-dark">➕ Add Task</button>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>