<!-- Toast Container -->
<div class="position-fixed top-0 end-0 p-3" style="z-index: 1100">
    <div id="toast" class="toast align-items-center text-bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
        <div class="toast-body" id="toast-body">
            <!-- Toast message goes here -->
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>

<div class="container py-5">
    <h2 class="text-center mb-4">Login</h2>
    <div id="alert" class="alert d-none" role="alert"></div>
    <form id="login-form" method="POST" action="/api/auth/login"  class="card  p-4 mx-auto" style="max-width: 400px; height: 348px; overflow: hidden;">
      <div class="mb-3">
        <label for="login-username" class="form-label">Username</label>
        <input type="text" class="form-control" name="username" id="login-username" required />
      </div>
      <div class="mb-3">
        <label for="login-password" class="form-label">Password</label>
        <input type="password" class="form-control" name="password" id="login-password" required />
      </div>
      <button type="submit" class="btn btn-primary w-100">Login</button>
      <div class="text-center mt-2">
        Don't have an account? <a href="/register">Register</a>
      </div>
    </form>
  </div>