<div class="container mt-3">
   <div class="card fixed-card shadow-sm border-0 mb-3">
    <div class="card-header d-flex justify-content-between align-items-center bg-primary text-white">
      <h5 class="mb-0">Registered Users</h5>
    </div>

    <div class="card-body">
        <table class="table table-bordered table-striped">
          <thead class="table-info">
            <tr>
              <th style="width: 100px;">#</th>
              <th>Name</th>
              <th>Email</th>
              <th>Mobile</th>
              <th>Username</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody id="user-table-body">
            <!-- Tasks will be populated here -->
          </tbody>
      </table>
    </div>
  </div>
</div>