<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="#">
      <img src="img/default_user.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top me-2">
      Task Manager
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
       <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">To Do List</a>
        </li>
        <li class="nav-item"  id="admin-users-menu">
          <a class="nav-link" href="/users">Registered Users</a>
        </li>
      </ul>

      <!-- Right-aligned user dropdown -->
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="img/default_user2.png" alt="Profile" class="rounded-circle me-2" width="38" height="38">
            <span id="navbar-username">Username</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
            <li><a class="dropdown-item" href="#">Edit Profile</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item text-danger" href="#" id="logout-btn">🚪 Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
    </div>

    
    
    
  </div>
</nav>